---
- name: call hitotio.consul service tasks
  include_role:
    name: hitotito.consul
    tasks_from: service
    private: yes
  vars:
    consul_service_name: "{{ prometheus_node_exporter_consul_service_name }}"
    consul_service_check: 'http'
    consul_service_ports: [9100]
