[Unit]
Description=Prometheus node_exporter
Requires=network-online.target

[Service]
User={{ prometheus_node_exporter_user }}
Group={{ prometheus_node_exporter_group }}
PIDFile={{ prometheus_os_pid_dir }}/node_exporter.pid
ExecStart={{ prometheus_os_install_dir }}/node_exporter
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure
RestartSec=10s
PrivateTmp=true

[Install]
WantedBy=multi-user.target
